* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffeef7; /* Fondo rosado pastel */
    color: #333;
}


.navbar ul li{
    position: relative;
    float: left;
}


.navbar ul li a{
    font-size: 25px;
    padding: 20px;
    color: #000;
    display: block;
    font-weight: 600;
}




.navbar ul li a:hover{
    color: violet;
    font-size: 30px;
    transition: 0.5s;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffb6c1; /* Fondo rosado claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

header h1 {
    font-size: 2em;
    color: #c71585; /* Rosa fuerte */
    animation: fadeIn 2s ease-in-out;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #d36a7b; /* Rosa suave */
}

.professors {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 250px;
    background-color: #fff0f5; /* Fondo rosado claro para tarjetas */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: slideIn 1.5s ease-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5em;
    color: #ff69b4; /* Rosa chicle */
}

.card p {
    font-size: 1em;
    color: #8b3a62; /* Rosa pastel oscuro */
    margin-top: 10px;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffc0cb; /* Fondo rosa pastel */
    margin-top: 20px;
    border-radius: 10px;
}

.large-image {
    max-width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

.large-image:hover{
    content: url(images/ositohover.png);
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .navbar ul li a {
        font-size: 18px;
        padding: 10px;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p {
        font-size: 1em;
    }

    .card {
        width: 100%;
    }

    .professors {
        padding: 10px;
    }

    .large-image {
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .navbar ul li a {
        font-size: 16px;
        padding: 8px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    .card h2 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 0.9em;
    }

    .large-image {
        max-width: 70%;
    }
}